<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="personal">
    <%= render_member_header(current_user) %>
    <div class="personal-content">
      <div class="personal-avatar"><%= link_to(render_avatar(current_user, "avatar"), edit_personal_path) %></div>
      <h4 class="personal-title"><%= render_name(current_user) %></h4>
      <p class="personal-email"><%= render_email(current_user) %></p>
      <div class="personal-role btn-group">
        <% if current_user.gender == "男" %>
          <i class="fa fa-mars gender-male btn btn-default" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-venus gender-female btn btn-default" aria-hidden="true"></i>
        <% end %>
        <% if current_user.role == "老师" %>
          <span class="role-teacher btn btn-default">Teacher</span>
        <% else %>
          <span class="role-student btn btn-default">Student</span>
        <% end %>
      </div>
      <div class="personal-social">
        <div class="btn-group" role="group">
          <%= link_to(render_invitations(current_user), member_invitations_path(current_user), class: "btn btn-default") %>
          <%= link_to(render_evaluations(current_user), member_evaluations_path(current_user), class: "btn btn-default") %>
        </div>
        <div class="social-status page-header">
          <h4>
            <small>共收到</small>
            <%= count_to_s(current_user.invitations_count) %>
            <small>个约 / </small>
            <%= count_to_s(current_user.evaluations_count) %>
            <small>个评价</small>
          </h4>
        </div>
      </div>
      <div class="personal-links">
        <a href="<%= current_user.logdown %>" class="member-link"><%= image_tag('logdown_logo.png') %></a>
        <a href="<%= current_user.github %>" class="member-link"><%= image_tag('github_logo.png') %></a>
      </div>
      <div class="personal-wechat">
        <%= image_tag('wx_logo.png') %> <%= current_user.wechat %>
      </div>
    </div>
  </div>
</div>
