<div class="container">
  <%= render "common/profile" %>
  <div class="col-sm-7 col-md-8">
    <div class="page-header">
      <h3>
        <small>编辑发送给</small>
        <%= render_name(@member) %>
        <small>的邀请信息</small>
      </h3>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for [:member, @invitation] do |f| %>
          <%= f.input :message, label: "邀请信息", autofocus: true, placeholder: "请说明您邀请对方的目的或事由。发出的邀请信息是公开的，其他小伙伴也可以看到。" %>
          <div class="form-actions pull-right">
            <%= link_to('<i class="fa fa-times" aria-hidden="true"></i> 取消'.html_safe, member_invitations_path(@member), class: "btn btn-default") %>
            <%= f.submit "保存修改", data: {disable_with: "正在保存..."}, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
