<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="card">
    <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1feyxzenv4fj30k00b940m.jpg" alt="Header" class="img-responsive card-img-top">
    <div class="card-content">
      <div class="card-avatar"><%= link_to(render_avatar(member, "avatar"), member_invitations_path(member)) %></div>
      <h4 class="card-title"><%= render_name(member) %></h4>
      <div class="card-role">
        <% if member.gender == "男" %>
          <i class="fa fa-mars gender-male" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-venus gender-female" aria-hidden="true"></i>
        <% end %>
        <% if member.role == "老师" %>
          <span class="role-teacher">Teacher</span>
        <% else %>
          <span class="role-student">Student</span>
        <% end %>
      </div>
      <div class="card-social">
        <% if member.gender == "男" %>
          <% @gender = "他" %>
        <% else %>
          <% @gender = "她" %>
        <% end %>
        <%= link_to("约" + @gender, new_member_invitation_path(member), class: "btn btn-default") %>
        <%= link_to("了解" + @gender, member_evaluations_path(member), class: "btn btn-default") %>
      </div>
      <hr/>
      <div class="card-links">
        <a href="<%= member.logdown %>" class="card-link"><%= image_tag('logdown_logo.png') %></a>
        <a href="<%= member.github %>" class="card-link"><%= image_tag('github_logo.png') %></a>
      </div>
      <div class="card-wechat">
        <%= image_tag('wx_logo.png') %> <%= member.wechat %>
      </div>
    </div>
  </div>
</div>
